@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Playwrite+IT+Moderna:wght@100..400&display=swap");
@import "tailwindcss";
@import "./theme.css";

html {
  font-family: "Oswald", sans-serif;
  background-color: #151617;
}
body {
  padding: 0;
  margin: 0;
  color: white;
}
